<%= form_for(@playlists) do |f|%>

    <%= f.label :name%>
    <%= f.text_field :name%>

    <%= f.label :number_of_votes%>
    <%= f.text_field :number_of_votes%>

    <%= f.submit%>
<% end %>